<!-- Footer -->
<section id="footer">
      <div class="container line-up">
        <div class="row footer-columns">
          <div class="col-md-3 img-col">
            <a href="https://www.esign-la.com/" target="_blank"><img class="footer-img" src="{{ asset('bundles/app/img/logo.png') }}"></a>
            <p><a href="#" style="color:#AC2953 !important;">DriveSigner.cl</a> es un sitio de ESign, especializado en la firma de documento electronicos a través Google Drive.</p>
          </div>          
          <div class="col-md-3">
            <h4>Sitio</h4>
            <div class="bottom-line"></div>
            <ul style="margin-top:15px;padding:0px;">
              <li><a href="https://www.firma.cl/#compra-sii" data-toggle="tab" onclick="boton(&#39;#producto1&#39;)" role="button" class="intro-button">Firma Electrónica Simple</a></li>
              <li><a href="https://www.firma.cl/#compra-avanzada" data-toggle="tab" onclick="boton(&#39;#producto4&#39;)" role="button" class="intro-button">Firma Electrónica Avanzada</a></li>
              <li><a data-toggle="collapse" href="https://www.firma.cl/#ca-intermedia-hidden" aria-expanded="false" aria-controls="collapseExample" onclick="boton(&#39;#ca-focus)" id="gotobottom">CA Intermedia</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h4>Otros productos</h4>
            <div class="bottom-line"></div>
            <ul style="margin-top:15px;padding:0px;">
              <li><a href="https://www.esign-la.com/producto/ver/id_producto/64" target="_blank">Firma para Empresa en un día</a></li>
              <li><a href="https://www.esign-la.com/tiendaSSL" target="_blank">Certificados SSL</a></li>
              <li><a href="https://www.esign-la.com/producto/ver/id_producto/67" target="_blank">Soluciones con firma electrónica</a></li>
              <li><a href="https://www.esign-la.com/producto/ver/id_producto/127" target="_blank">Soluciones de seguridad de la información</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h4>Contacto</h4>
            <div class="bottom-line"></div>
            <ul class="contact" style="padding:0px;">
              <li>
                <div class="icon">
                  <span class="glyphicon glyphicon-map-marker"></span>
                </div>
                <div>
                  Andrés Bello #2777<br>of. 1503, Santiago CL
                </div>
              </li>
              <li>
                <div class="icon">
                  <span class="glyphicon glyphicon-envelope"></span>
                </div>
                <div>
                  <a href="mailto:soporteATesign-laDOTcom" onclick="this.href=this.href .replace(/AT/,&#39;@&#39;) .replace(/DOT/,&#39;.&#39;)">soporte<span class="domain">esign-la.com</span></a>
                </div>
              </li>
            </ul>
          </div>
        </div>  
      </div>
      <div class="CA-intermedia collapse" id="ca-intermedia-hidden">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-2">
              <a href="https://www.e-sign.cl/soporte/index/ips/191" target="_blank">Certificados de Firma Electrónica Simple VeriSign</a>
            </div>
            <div class="col-xs-12 col-md-2 subcategory">
              <a href="https://www.e-sign.cl/soporte/index/ips/208" target="_blank">Certificados de Firma Electrónica Avanzada VeriSign</a>
            </div>
            <div class="col-xs-12 col-md-2 subcategory">
              <a href="https://www.e-sign.cl/soporte/index/ips/216" target="_blank">Certificados de Firma Electrónica Avanzada PKI E-SIGN</a>
            </div>
            <div class="col-xs-12 col-md-2 subcategory">
              Certificados SSL - Retail<br>
              <div class="subcategoria">
                <a href="https://www.e-sign.cl/soporte/index/ips/140" target="_blank">SSL 40 bits - Secure Site</a><br>
                <a href="https://www.e-sign.cl/soporte/index/ips/141" target="_blank">SSL 128 bits - Secure Site Pro</a><br>
                <a href="https://www.e-sign.cl/soporte/index/ips/142" target="_blank">SSL EV 128 bits - Secure Site Pro Extended Validation</a>
              </div>
            </div>
            <div class="col-xs-12 col-md-2 subcategory">
              Managed PKI for SSL<br>
              <div class="subcategoria">
                <a href="https://www.e-sign.cl/soporte/index/ips/143" target="_blank">SSL 40 bits - Standar SSL</a><br>
                <a href="https://www.e-sign.cl/soporte/index/ips/144" target="_blank">SSL 128 bits - Premium SSL</a>
              </div>
            </div>
            <div class="col-xs-12 col-md-2 subcategory">
              <a href="https://www.e-sign.cl/uploads/kcfinder/files/install_ca/mpkilitepublico.cer" target="_blank">MPKI Lite Público</a>
            </div>
          </div>
        </div>
      </div>
      <div class="container terms">
        <p class="small text-center" id="claim">
          <a href="https://www.e-sign.cl/default/legal">Temas Legales</a> | 
          <a href="https://www.e-sign.cl/privacidad">Privacidad</a> | 
          <a href="https://www.e-sign.cl/repositorios">Repositorios</a> | 
          <a href="https://www.e-sign.cl/default/politicas">Políticas Sustentables</a> | 
          E-Sign S.A. Todos los derechos reservados</p>
      </div>
</section>