{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block side_bar_after_nav %}
	<!--<p class="text-center" style="margin: 10px 0px;"><a href="http://www.velociti.cl/">VelociTI</a></p>-->
{% endblock %}